# Prerequisites
*.d
_
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
sample
pand
build/
.cache/
.idea/
cmake-build-debug-visual-studio/
cmake-build-debug

# v8 related:
deps/v8
deps/.cipd
deps/depot_tools
deps/.gclient*
deps/.gcs_entries

# some random js files where I test things (right now):
ex.js
_net.js
_node.js
